<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
		<title>Virtual Music Theory Keyboard</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!-- polyfill -->
	    <script src="../static/inc/shim/Base64.js" type="text/javascript"></script>
		<script src="../static/inc/shim/Base64binary.js" type="text/javascript"></script>
		<script src="../static/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
		<!-- midi.js package -->
		<script src="../static/js/midi/audioDetect.js" type="text/javascript"></script>
		<script src="../static/js/midi/gm.js"></script>
		<script src="../static/js/midi/loader.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.audiotag.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.webaudio.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.webmidi.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- utils -->
		<script src="../static/js/util/dom_request_xhr.js" type="text/javascript"></script>
		<script src="../static/js/util/dom_request_script.js" type="text/javascript"></script>
		<!-- custom scripts -->
		<script type="text/javascript" src="../static/js/concepts.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/theStyle.css">
		<link rel="stylesheet" type="text/css" href="../static/css/lesson1style.css">
	</head>
	<body onload="load(); lessonStaff()" background="../static/images/wood-grain.jpg">
		<div id="window">
			<div id="topBanner">
			</div>
			<div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                <a href="lesson1.html">Lesson: Introduction</a>
                <a href="quizNotes.html">Quiz: Notes</a>
                <a href="quizSteps.html">Quiz: Steps</a>
                <a href="lessonScales.html">Lesson: Scales</a>
                <a href="quizMajorScales.html">Quiz: Major Scales</a>
                <a href="quizMinorScales.html">Quiz: Minor Scales</a>
                <a href="quizInterval.html">Quiz: Interval</a>
                <a href="lessonStaff.html">Lesson: Staff</a>
                <a href="lessonCircle.html">Lesson: Circle</a>
                <a href="quizKeys.html">Quiz: Key Signature</a>
                <a href="reference.html">Reference Guide</a>
            </div>
            <!-- Use any element to open the sidenav -->
            <span id="menuButton" onclick="openNav()">&#9776; Menu</span>
			<!-- container for individual keys -->
			<div id="keyboard">
				<!-- keyboard keys that call functions to play corresponding note when clicked --><!--
				--><div class="key lStraightKey" id="c3Key" onclick="contextualClick('c', 3, this.id)"><div class="hardwareKey">q</div><div class="keyname">C</div></div><!--
				--><div class="key blackKey" id="db3Key" onclick="contextualClick('db', 3, this.id)"><div class="hardwareKey">2</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="d3Key" onclick="contextualClick('d', 3, this.id)"><div class="hardwareKey">w</div><div class="keyname">D</div></div><!--
				--><div class="key blackKey" id="eb3Key" onclick="contextualClick('eb', 3, this.id)"><div class="hardwareKey">3</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
				--><div class="key rStraightKey" id="e3Key" onclick="contextualClick('e', 3, this.id)"><div class="hardwareKey">e</div><div class="keyname">E</div></div><!--
				--><div class="key lStraightKey" id="f3Key" onclick="contextualClick('f', 3, this.id)"><div class="hardwareKey">r</div><div class="keyname">F</div></div><!--
				--><div class="key blackKey" id="gb3Key" onclick="contextualClick('gb', 3, this.id)"><div class="hardwareKey">5</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="g3Key" onclick="contextualClick('g', 3, this.id)"><div class="hardwareKey">t</div><div class="keyname">G</div></div><!--
				--><div class="key blackKey" id="ab4Key" onclick="contextualClick('ab', 4, this.id)"><div class="hardwareKey">6</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="a4Key" onclick="contextualClick('a', 4, this.id)"><div class="hardwareKey">y</div><div class="keyname">A</div></div><!--
				--><div class="key blackKey" id="bb4Key" onclick="contextualClick('bb', 4, this.id)"><div class="hardwareKey">7</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
				--><div class="key rStraightKey" id="b4Key" onclick="contextualClick('b', 4, this.id)"><div class="hardwareKey">u</div><div class="keyname">B</div></div><!--
				--><div class="key lStraightKey" id="c4Key" onclick="contextualClick('c', 4, this.id)"><div class="hardwareKey">i</div><div class="keyname">C</div></div><!--
				--><div class="key blackKey" id="db4Key" onclick="contextualClick('db', 4, this.id)"><div class="hardwareKey">9</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="d4Key" onclick="contextualClick('d', 4, this.id)"><div class="hardwareKey">o</div><div class="keyname">D</div></div><!--
				--><div class="key blackKey" id="eb4Key" onclick="contextualClick('eb', 4, this.id)"><div class="hardwareKey">0</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
				--><div class="key rStraightKey" id="e4Key" onclick="contextualClick('e', 4, this.id)"><div class="hardwareKey">p</div><div class="keyname">E</div></div><!--
				--><div class="key lStraightKey" id="f4Key" onclick="contextualClick('f', 4, this.id)"><div class="hardwareKey">z</div><div class="keyname">F</div></div><!--
				--><div class="key blackKey" id="gb4Key" onclick="contextualClick('gb', 4, this.id)"><div class="hardwareKey">s</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="g4Key" onclick="contextualClick('g', 4, this.id)"><div class="hardwareKey">x</div><div class="keyname">G</div></div><!--
				--><div class="key blackKey" id="ab5Key" onclick="contextualClick('ab', 5, this.id)"><div class="hardwareKey">d</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="a5Key" onclick="contextualClick('a', 5, this.id)"><div class="hardwareKey">c</div><div class="keyname">A</div></div><!--
				--><div class="key blackKey" id="bb5Key" onclick="contextualClick('bb', 5, this.id)"><div class="hardwareKey">f</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
				--><div class="key rStraightKey" id="b5Key" onclick="contextualClick('b', 5, this.id)"><div class="hardwareKey">v</div><div class="keyname">B</div></div><!--
				--><div class="key lStraightKey" id="c5Key" onclick="contextualClick('c', 5, this.id)"><div class="hardwareKey">b</div><div class="keyname">C</div></div><!--
				--><div class="key blackKey" id="db5Key" onclick="contextualClick('db', 5, this.id)"><div class="hardwareKey">h</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
				--><div class="key cutKey" id="d5Key" onclick="contextualClick('d', 5, this.id)"><div class="hardwareKey">n</div><div class="keyname">D</div></div><!--
				--><div class="key blackKey" id="eb5Key" onclick="contextualClick('eb', 5, this.id)"><div class="hardwareKey">j</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
				--><div class="key rStraightKey" id="e5Key" onclick="contextualClick('e', 5, this.id)"><div class="hardwareKey">m</div><div class="keyname">E</div></div>

			</div>
			<div class="lesson">
				<div id="showKeys">
					<input type="button" value="Toggle Key Names" onclick="toggleVisibility('keyname');">
					<input type="button" value="Toggle Hardware Key Names" onclick="toggleVisibility('hardwareKey');">
				</div>
				<button class="previous" onclick="previous()">Pervious</button>
				<button class="next" onclick="next()">Next</button>
			    <p class="lessonBlock 1" id="first">
			    Now that we know how the piano works, it's time to tackle the staff!<br>

A staff is comprised of five lines. Both the lines and their spaces are significant.<br>
A note is either placed ON the line, or IN a space.<br>
These note placements correspond with the white keys of the keyboard.<br>
				</p>
				<p class="lessonBlock 2" id="second">
				<img src="../static/images/GrandStaffPics/Staff1.png"><br>
		       This is a TREBLE CLEF. it assigns a set of notes to the lines and spaces on the clefs.<br>
<img src="../static/images/GrandStaffPics/Staff2.png"><br>
In the Treble clef, the bottom line corresponds to the E note.<br> 
The space directly above it corresponds to the F note.<br>
The space directly below it corresponds to the D note.<br>
<img src="../static/images/GrandStaffPics/Staff4.png"><br>
When there is no more room, a LEDGER LINE is added as an extension to the staff, where the C is placed.<br>
A helpful mnemonic device to learn the notes as they appear on the lines in the Treble clef is:<br><br>
            Fine (top line)<br>
         Does<br>
      Boy<br>
   Good<br>
Every (bottom line)<br><br>
And for the spaces, the trick is simply:<br><br>
         E (top space)<br>
      C<br>
   A<br>
F (bottom space)<br>
				</p>
				<p class="lessonBlock 3">
				<img src="../static/images/GrandStaffPics/Staff5.png"><br>
		        The other clef we will be using is the BASS CLEF. <br>
This clef represents a different set of notes lower in pitch than in the Treble clef.<br>
The bottom line corresponds to the G note.<br>
The line above it corresponds to the A note, etc. etc.<br>
A helpful mnemonic device to memorize the notes as they appear on the lines in the Bass clef is:<br><br>
<img src="../static/images/GrandStaffPics/Staff7.png"> <br>
            Always (top line)<br>
         Fine<br>
      Do<br>
   Boys<br>
Good (bottom line)<br>
“All Cows Eat Grass” for the spaces:<br><br>
<img src="../static/images/GrandStaffPics/Staff6.png"> <br>
         Grass (top space)<br>
      Eat<br>
   Cows<br>
All (bottom space)<br><br>
When a note is placed on the first ledger line above the Bass clef, it is a C note at the same pitch as the C note demonstrated on the Treble clef.<br> 
This is known as middle C.<br>
<img src="../static/images/GrandStaffPics/Staff8.png"> <br>
In what is called the GRAND STAFF, these clefs are placed with the Treble on top and the Bass below.<br> 
They are joined by the middle C note.<br>
		        </p>
		        <p class="lessonBlock 4">
			       Now that we've finished the lesson, go check out the quiz!
                </p>
			</div>
		</div>
	</body>
</html>