<!DOCTYPE html>
<html>
<title>Virtual Music Theory Keyboard</title>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/theStyle.css">
<body onload="load()" background="../static/images/wood-grain.jpg">
	<div id="window">

		<div id="topBanner">
		</div>

		<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a href="lesson1.html">Lesson: Introduction</a>
            <a href="quizNotes.html">Quiz: Notes</a>
            <a href="quizSteps.html">Quiz: Steps</a>
            <a href="lessonScales.html">Lesson: Scales</a>
            <a href="quizMajorScales.html">Quiz: Major Scales</a>
            <a href="quizMinorScales.html">Quiz: Minor Scales</a>
            <a href="quizInterval.html">Quiz: Interval</a>
            <a href="lessonStaff.html">Lesson: Staff</a>
            <a href="lessonCircle.html">Lesson: Circle</a>
            <a href="quizKeys.html">Quiz: Key Signature</a>
            <a href="reference.html">Reference Guide</a>
        </div>

        <span id="menuButton" onclick="openNav()">&#9776; Menu</span>
        
		<div id="keyboard">
			<!-- keyboard keys that call functions to play corresponding note when clicked --><!--
			--><div class="key lStraightKey" id="c3Key" onclick="contextualClick('c', 3, this.id)"><div class="hardwareKey">q</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db3Key" onclick="contextualClick('db', 3, this.id)"><div class="hardwareKey">2</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d3Key" onclick="contextualClick('d', 3, this.id)"><div class="hardwareKey">w</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb3Key" onclick="contextualClick('eb', 3, this.id)"><div class="hardwareKey">3</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e3Key" onclick="contextualClick('e', 3, this.id)"><div class="hardwareKey">e</div><div class="keyname">E</div></div><!--
			--><div class="key lStraightKey" id="f3Key" onclick="contextualClick('f', 3, this.id)"><div class="hardwareKey">r</div><div class="keyname">F</div></div><!--
			--><div class="key blackKey" id="gb3Key" onclick="contextualClick('gb', 3, this.id)"><div class="hardwareKey">5</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="g3Key" onclick="contextualClick('g', 3, this.id)"><div class="hardwareKey">t</div><div class="keyname">G</div></div><!--
			--><div class="key blackKey" id="ab4Key" onclick="contextualClick('ab', 4, this.id)"><div class="hardwareKey">6</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="a4Key" onclick="contextualClick('a', 4, this.id)"><div class="hardwareKey">y</div><div class="keyname">A</div></div><!--
			--><div class="key blackKey" id="bb4Key" onclick="contextualClick('bb', 4, this.id)"><div class="hardwareKey">7</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="b4Key" onclick="contextualClick('b', 4, this.id)"><div class="hardwareKey">u</div><div class="keyname">B</div></div><!--
			--><div class="key lStraightKey" id="c4Key" onclick="contextualClick('c', 4, this.id)"><div class="hardwareKey">i</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db4Key" onclick="contextualClick('db', 4, this.id)"><div class="hardwareKey">9</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d4Key" onclick="contextualClick('d', 4, this.id)"><div class="hardwareKey">o</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb4Key" onclick="contextualClick('eb', 4, this.id)"><div class="hardwareKey">0</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e4Key" onclick="contextualClick('e', 4, this.id)"><div class="hardwareKey">p</div><div class="keyname">E</div></div><!--
			--><div class="key lStraightKey" id="f4Key" onclick="contextualClick('f', 4, this.id)"><div class="hardwareKey">z</div><div class="keyname">F</div></div><!--
			--><div class="key blackKey" id="gb4Key" onclick="contextualClick('gb', 4, this.id)"><div class="hardwareKey">s</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="g4Key" onclick="contextualClick('g', 4, this.id)"><div class="hardwareKey">x</div><div class="keyname">G</div></div><!--
			--><div class="key blackKey" id="ab5Key" onclick="contextualClick('ab', 5, this.id)"><div class="hardwareKey">d</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="a5Key" onclick="contextualClick('a', 5, this.id)"><div class="hardwareKey">c</div><div class="keyname">A</div></div><!--
			--><div class="key blackKey" id="bb5Key" onclick="contextualClick('bb', 5, this.id)"><div class="hardwareKey">f</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="b5Key" onclick="contextualClick('b', 5, this.id)"><div class="hardwareKey">v</div><div class="keyname">B</div></div><!--
			--><div class="key lStraightKey" id="c5Key" onclick="contextualClick('c', 5, this.id)"><div class="hardwareKey">b</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db5Key" onclick="contextualClick('db', 5, this.id)"><div class="hardwareKey">h</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d5Key" onclick="contextualClick('d', 5, this.id)"><div class="hardwareKey">n</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb5Key" onclick="contextualClick('eb', 5, this.id)"><div class="hardwareKey">j</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e5Key" onclick="contextualClick('e', 5, this.id)"><div class="hardwareKey">m</div><div class="keyname">E</div></div>
		</div>
			<div id="debug" class="debug">
				<div id="noteSelection">
					<input type="button" onclick="changeGlobalNote('c')" value="c"/>
					<input type="button" onclick="changeGlobalNote('db')" value="db"/>
					<input type="button" onclick="changeGlobalNote('d')" value="d"/>
					<input type="button" onclick="changeGlobalNote('eb')" value="eb"/>
					<input type="button" onclick="changeGlobalNote('e')" value="e"/>
					<input type="button" onclick="changeGlobalNote('f')" value="f"/>
					<input type="button" onclick="changeGlobalNote('gb')" value="gb"/>
					<input type="button" onclick="changeGlobalNote('g')" value="g"/>
					<input type="button" onclick="changeGlobalNote('ab')" value="ab"/>
					<input type="button" onclick="changeGlobalNote('a')" value="a"/>
					<input type="button" onclick="changeGlobalNote('bb')" value="bb"/>
				</div>
				<div id="tempoSelection">
				<!-- To add a new tempo option simply create an input button and call setTempo 
				with the desired value as the argument as shown below -->
					<input type="button" onclick="setTempo(100)" value="100"/>
					<input type="button" onclick="setTempo(120)" value="120"/>
					<input type="button" onclick="setTempo(140)" value="140"/>
					<input type="button" onclick="setTempo(160)" value="160"/>
					<input type="button" onclick="setTempo(180)" value="180"/>
				</div>
				<div id="conceptOptions">
				<!-- These buttons are only used for testing and debugging purposes -->
					<input type="button" onclick="playNote()" value="Play Root Note"/>
					<input type="button" onclick="playMajorScale()" value="Play Major Scale"/>
					<input type="button" onclick="playMinorScale()" value="Play Minor Scale"/>
					<input type="button" onclick="playMajorTriChord()" value="Play Major Chord"/>
					<input type="button" onclick="playMinorTriChord()" value="Play Minor Chord"/>
				</div>
				<div id="highlightOptions">
					<input type="button" onclick="highlightMajorScale()" value="Toggle Major Scale"/>
					<input type="button" onclick="highlightMinorScale()" value="Toggle Minor Scale"/>
					<input type="button" onclick="highlightMajorChord()" value="Toggle Major Chord"/>
					<input type="button" onclick="highlightMinorChord()" value="Toggle Minor Chord"/>
					<input type="button" onclick="unhighlightAll()" value="Unhighlight"/>
				</div>
				<div id="showKeys">
					<input type="button" value="Toggle Key Names" onclick="toggleVisibility('keyname');">
					<input type="button" value="Toggle Hardware Key Names" onclick="toggleVisibility('hardwareKey');">
					<!-- <input type="button" value="Toggle Debug Menu" onclick="toggleVisibility('debug');"> -->
				</div>
		        <div id="quiz_list">
		        	<button onclick="location.href='lesson1'" type="button">Lesson: One</button>
		            <button onclick="location.href='quizNotes'" type="button">Quiz: Notes</button>
		            <button onclick="location.href='quizSteps'" type="button">Quiz: Steps</button>
		            <button onclick="location.href='quizScales'" type="button">Quiz: Scales</button>
		        </div>
		    </div>
	    </div>
	</body>
</html>
