<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
		<title>Virtual Music Theory Keyboard</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/css/theStyle.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!-- polyfill -->
	    <script src="../static/inc/shim/Base64.js" type="text/javascript"></script>
		<script src="../static/inc/shim/Base64binary.js" type="text/javascript"></script>
		<script src="../static/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
		<!-- midi.js package -->
		<script src="../static/js/midi/audioDetect.js" type="text/javascript"></script>
		<script src="../static/js/midi/gm.js"></script>
		<script src="../static/js/midi/loader.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.audiotag.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.webaudio.js" type="text/javascript"></script>
		<script src="../static/js/midi/plugin.webmidi.js" type="text/javascript"></script>
		<!-- utils -->
		<script src="../static/js/util/dom_request_xhr.js" type="text/javascript"></script>
		<script src="../static/js/util/dom_request_script.js" type="text/javascript"></script>
		<!-- custom scripts -->
		<script type="text/javascript" src="../static/js/concepts.js"></script>
	</head>
	<body onload="load()">
		<!-- container for individual keys -->
		<div id="keyboard">
			<!-- keyboard keys that call functions to play corresponding note when clicked --><!--
			--><div class="key lStraightKey" id="c3Key" onclick="playSingleNote('c', 3); triggerColor(this.id)"><div class="hardwareKey">q</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db3Key" onclick="playSingleNote('db', 3); triggerColor(this.id)"><div class="hardwareKey">2</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d3Key" onclick="playSingleNote('d', 3); triggerColor(this.id)"><div class="hardwareKey">w</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb3Key" onclick="playSingleNote('eb', 3); triggerColor(this.id)"><div class="hardwareKey">3</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e3Key" onclick="playSingleNote('e', 3); triggerColor(this.id)"><div class="hardwareKey">e</div><div class="keyname">E</div></div><!--
			--><div class="key lStraightKey" id="f3Key" onclick="playSingleNote('f', 3); triggerColor(this.id)"><div class="hardwareKey">r</div><div class="keyname">F</div></div><!--
			--><div class="key blackKey" id="gb3Key" onclick="playSingleNote('gb', 3); triggerColor(this.id)"><div class="hardwareKey">5</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="g3Key" onclick="playSingleNote('g', 3); triggerColor(this.id)"><div class="hardwareKey">t</div><div class="keyname">G</div></div><!--
			--><div class="key blackKey" id="ab4Key" onclick="playSingleNote('ab', 4); triggerColor(this.id)"><div class="hardwareKey">6</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="a4Key" onclick="playSingleNote('a', 4); triggerColor(this.id)"><div class="hardwareKey">y</div><div class="keyname">A</div></div><!--
			--><div class="key blackKey" id="bb4Key" onclick="playSingleNote('bb', 4); triggerColor(this.id)"><div class="hardwareKey">7</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="b4Key" onclick="playSingleNote('b', 4); triggerColor(this.id)"><div class="hardwareKey">u</div><div class="keyname">B</div></div><!--
			--><div class="key lStraightKey" id="c4Key" onclick="playSingleNote('c', 4); triggerColor(this.id)"><div class="hardwareKey">i</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db4Key" onclick="playSingleNote('db', 4); triggerColor(this.id)"><div class="hardwareKey">9</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d4Key" onclick="playSingleNote('d', 4); triggerColor(this.id)"><div class="hardwareKey">o</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb4Key" onclick="playSingleNote('eb', 4); triggerColor(this.id)"><div class="hardwareKey">0</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e4Key" onclick="playSingleNote('e', 4); triggerColor(this.id)"><div class="hardwareKey">p</div><div class="keyname">E</div></div><!--
			--><div class="key lStraightKey" id="f4Key" onclick="playSingleNote('f', 4); triggerColor(this.id)"><div class="hardwareKey">z</div><div class="keyname">F</div></div><!--
			--><div class="key blackKey" id="gb4Key" onclick="playSingleNote('gb', 4); triggerColor(this.id)"><div class="hardwareKey">s</div><div class="keyname">F<sup>#</sup> G<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="g4Key" onclick="playSingleNote('g', 4); triggerColor(this.id)"><div class="hardwareKey">x</div><div class="keyname">G</div></div><!--
			--><div class="key blackKey" id="ab5Key" onclick="playSingleNote('ab', 5); triggerColor(this.id)"><div class="hardwareKey">d</div><div class="keyname">G<sup>#</sup> A<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="a5Key" onclick="playSingleNote('a', 5); triggerColor(this.id)"><div class="hardwareKey">c</div><div class="keyname">A</div></div><!--
			--><div class="key blackKey" id="bb5Key" onclick="playSingleNote('bb', 5); triggerColor(this.id)"><div class="hardwareKey">f</div><div class="keyname">A<sup>#</sup> B<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="b5Key" onclick="playSingleNote('b', 5); triggerColor(this.id)"><div class="hardwareKey">v</div><div class="keyname">B</div></div><!--
			--><div class="key lStraightKey" id="c5Key" onclick="playSingleNote('c', 5); triggerColor(this.id)"><div class="hardwareKey">b</div><div class="keyname">C</div></div><!--
			--><div class="key blackKey" id="db5Key" onclick="playSingleNote('db', 5); triggerColor(this.id)"><div class="hardwareKey">h</div><div class="keyname">C<sup>#</sup> D<sup>b</sup></div></div><!--
			--><div class="key cutKey" id="d5Key" onclick="playSingleNote('d', 5); triggerColor(this.id)"><div class="hardwareKey">n</div><div class="keyname">D</div></div><!--
			--><div class="key blackKey" id="eb5Key" onclick="playSingleNote('eb', 5); triggerColor(this.id)"><div class="hardwareKey">j</div><div class="keyname">D<sup>#</sup> E<sup>b</sup></div></div><!--
			--><div class="key rStraightKey" id="e5Key" onclick="playSingleNote('e', 5); triggerColor(this.id)"><div class="hardwareKey">m</div><div class="keyname">E</div></div>

		</div>
		<div id="noteSelection">
			<input type="button" onclick="changeGlobalNote('c')" value="c"/>
			<input type="button" onclick="changeGlobalNote('db')" value="db"/>
			<input type="button" onclick="changeGlobalNote('d')" value="d"/>
			<input type="button" onclick="changeGlobalNote('eb')" value="eb"/>
			<input type="button" onclick="changeGlobalNote('e')" value="e"/>
			<input type="button" onclick="changeGlobalNote('f')" value="f"/>
			<input type="button" onclick="changeGlobalNote('gb')" value="gb"/>
			<input type="button" onclick="changeGlobalNote('g')" value="g"/>
			<input type="button" onclick="changeGlobalNote('ab')" value="ab"/>
			<input type="button" onclick="changeGlobalNote('a')" value="a"/>
			<input type="button" onclick="changeGlobalNote('bb')" value="bb"/>
		</div>
		<div id="tempoSelection">
		<!-- To add a new tempo option simply create an input button and call setTempo 
		with the desired value as the argument as shown below -->
			<input type="button" onclick="setTempo(100)" value="100"/>
			<input type="button" onclick="setTempo(120)" value="120"/>
			<input type="button" onclick="setTempo(140)" value="140"/>
			<input type="button" onclick="setTempo(160)" value="160"/>
			<input type="button" onclick="setTempo(180)" value="180"/>
		</div>
		<div id="conceptOptions">
		<!-- These buttons are only used for testing and debugging purposes -->
			<input type="button" onclick="playNote()" value="Play Root Note"/>
			<input type="button" onclick="playMajorScale()" value="Play Major Scale"/>
			<input type="button" onclick="playMinorScale()" value="Play Minor Scale"/>
			<input type="button" onclick="playMajorTriChord()" value="Play Major Chord"/>
			<input type="button" onclick="playMinorTriChord()" value="Play Minor Chord"/>
		</div>
		<div id="highlightOptions">
			<input type="button" onclick="highlightMajorScale()" value="Toggle Major Scale"/>
			<input type="button" onclick="highlightMinorScale()" value="Toggle Minor Scale"/>
			<input type="button" onclick="highlightMajorChord()" value="Toggle Major Chord"/>
			<input type="button" onclick="highlightMinorChord()" value="Toggle Minor Chord"/>
			<input type="button" onclick="unhighlightAll()" value="Unhighlight"/>
		</div>
		<div id="showKeys">
			<input type="button" value="Toggle Key Names" onclick="toggleKeyNames('keyname');">
			<input type="button" value="Toggle Key Names" onclick="toggleKeyNames('hardwareKey');">
		</div>
        <div id="quiz_list">
            <button onclick="location.href='quizNotes'" type="button">Quiz: Notes</button>
            <button onclick="location.href='quizSteps'" type="button">Quiz: Steps</button>
        </div>
	</body>
</html>
