/*********************************************/
/* Global Variables */
/*********************************************/

:root {
    /* color */
    --naturalKeyColor: white;
    --blackKeyColor: black;
    --borderColor: black;
    --highlightColor: #b22;

    /* dimensions */

    /* black keys */
    --blackKeyHeight: 350px;
    --blackKeyWidth: 70px;

    /* white keys */
    --whiteKeyHeight: 600px;
    --whiteKeyWidth: 100px;
    --leftOffset: -35px;
    --thinWidth: 30px;
    --midWidth: 65px;

    --borderThickness: 2px;

    --numberOfKeys: 17;

    --minDepth: 5;
}

/*********************************************/
/* Types */
/*********************************************/

html, body {
    padding: 0;
    margin: 0; /* no white space around keyboard */
}

/*********************************************/
/* Classes */
/*********************************************/

.key {
    background: var(--naturalKeyColor);
}
.key:after {
    background: var(--naturalKeyColor);
}

.highlightKey {
    background: var(--highlightColor);
}
.highlightKey:after {
    background: var(--highlightColor);
}

.blackKey {
    background: var(--blackKeyColor);
    display: inline-block;
    width: var(--blackKeyWidth);
    height: var(--blackKeyHeight);
    /*position: relative;*/
    z-index: var(--minDepth); /* place above other keys */
}

.highlightBlackKey {
    background: var(--highlightColor);
    display: inline-block;
    width: var(--blackKeyWidth);
    height: var(--blackKeyHeight);
    /*position: relative;*/
    box-shadow: inset 4px 4px 0 -2px var(--borderColor), inset -4px -4px 0 -2px var(--borderColor);
    z-index: var(--minDepth); /* place above other keys */
}

/* white key in between two black keys */
.cutKey {
    display: inline-block;
    width: var(--thinWidth);
    height: var(--blackKeyHeight);
    position: relative;
    /* black line at top of white key */
    box-shadow: inset 0 4px 0 -2px var(--borderColor);
}
.cutKey:after {
    content: "";
    top: var(--blackKeyHeight);
    left: var(--leftOffset);
    width: var(--whiteKeyWidth);
    height: calc(var(--whiteKeyHeight) - var(--blackKeyHeight));
    position: absolute;
    /* black line on bottom-left, bottom, and bottom-right of white key */
    box-shadow: inset 4px 0 0 -2px var(--borderColor), inset -4px -4px 0 -2px var(--borderColor);
}

/* white keys to the left of black keys */
.lStraightKey {
    display: inline-block;
    width: var(--midWidth);
    height: var(--blackKeyHeight);
    position: relative;
    /* black line on top and top-left of white key */
    box-shadow: inset 4px 4px 0 -2px var(--borderColor);
}
.lStraightKey:after {
    content: "";
    top: var(--blackKeyHeight);
    width: var(--whiteKeyWidth);
    height: calc(var(--whiteKeyHeight) - var(--blackKeyHeight));
    position: absolute;
    /* black line on bottom-left, bottom and bottom-right of white key */
    box-shadow: inset 4px 0 0 -2px var(--borderColor), inset -4px -4px 0 -2px var(--borderColor);
}

/* white keys to the right of black keys */
.rStraightKey {
    display: inline-block;
    width: var(--midWidth);
    height: var(--blackKeyHeight);
    position: relative;
    /* black line on top and top-right of white key */
    box-shadow: inset 0 4px 0 -2px var(--borderColor), inset -4px 0 0 -2px var(--borderColor);
}
.rStraightKey:after {
    content: "";
    top: var(--blackKeyHeight);
    left: var(--leftOffset);
    width: var(--whiteKeyWidth);
    height: calc(var(--whiteKeyHeight) - var(--blackKeyHeight));
    position: absolute;
    /* black line on bottom-left, bottom and bottom-right of white key */
    box-shadow: inset 4px 0 0 -2px var(--borderColor), inset -4px -4px 0 -2px var(--borderColor);
}

/*********************************************/
/* IDs */
/*********************************************/

#keyboard {
    width: calc(var(--whiteKeyWidth) * var(--numberOfKeys));
    min-height: var(--whiteKeyHeight);
    margin: auto;
}

#options {
    width: calc(var(--whiteKeyWidth) * var(--numberOfKeys));
    margin: auto;
}
